<%- include('../partials/header') %>
<section id="admin-hero">
    <div class="admin-flex">
        <div id="admin-background">
            <%- include('../partials/navbar') %>
            
            <div id="admin-hero-header">
                <h1>Welcome Admins!</h1>
                <h4>Thank you for all of your help!</h4>
                <p>Without all of you, this project could not have happened. Thank you for your time, passion and knowledge. This page contains all of the resources you need to upload a video.</p>
            </div> 
            <div class="admin-container">
                <a href="admin/addReport">Add Report</a>
            </div>        
        </div>
    </div>
</section>
<section id='step-section'>
    <div class="step">
        <div class="step-block">
            <h2>Report Template</h2>
            <h4>1. Intro</h4>
            <ol>
                <li>Your Name</li>
                <li>Ops Position/Where you work</li>
                <li>Date & Time for Forecast & Region</li>
            </ol>
            <p class="step-p">Ex: "My name is Morgan. Iam a guide at Selkirk Snowcats, an active member of the CAA and an avalance educator with KBG. It is currently December 1st, 2021 at 4pm and this forecast reflects the past 24 hours and the coming 24 hours for the Whitewater area.</p>
        </div>
        <div class="step-block">
            <h4>2. CAA <h6> - Avalanch Canada's Current Hazard Rating & Region Name</h6></h4>
            <p class="step-p">Ex. “Today Avalanche Canada has rated the backcountry from Alpine to Below Treeline, High, High, High in the Kootenay Boundary Region.”</p>
        </div>
        <div class="step-block">
            <h4>3. Weather</h4>
            <ol>
                <li>History (Brief) since last video/update</li>
                <li>Forecasted incoming weather</li>
            </ol>
            <p class="step-p">Ex: “In the past 48 hours since our last update we have received 23cms of new snow, brought in with 20-45km winds from the SW and mild temperatures. It is forecasted that another 10cms will fall over the next 12 hours with lighter winds from the E, with the storm tapering off by early morning.” /p>
        </div>
        <div class="step-block">
            <h4>5. Snowpack Description<h6> - Relevant Snowpack Layers with Dates</h6></h4>
            <p class="step-p">Ex: “ We are currently monitoring what we are calling the November 23rd ice crust layer that lies 40-50cms below the surface that we have seen to be reactive under this new load of snow, with test pits showing sudden propagative results showing the growing potential for avalanche release, in particular on steeper NE aspects where the loading has been greater due to the wind.”</p>
        </div>
        <div class="step-block">
            <h4>6. Avalanche Problems<h6> – Related to above & Avalanche Canada’s problem list for region (ie. Storm slab/persistent slab/ wind slab/etc.)</h6></h4>
            <p class="step-p">Ex: “With this snowfall and wind we have an increased load on our snowpack and we are seeing and anticipate there to be Wind Slab, in particular on N-E-NE aspects, and growing Storm Slab on all aspects.”</p>
        </div>
        <div class="step-block">
            <h4>7. Recent Avalanche Activity<h6> – If “None”, then Significant Test results from Profiles</h6></h4>
            <p class="step-p">Ex: “This afternoon we witnessed several Natural Releases on N and NE aspects to size 2 with Avalanche Canada’s MIN reporting network reporting 1 skier triggered size 1 storm slab on a NE aspect @ 2200m on White Queen.”</p>
        </div>
        <div class="step-block">
            <h4>8. Summary</h4>
            <ol>
                <li>Areas to Avoid with Rationale</li>
                <li>Suggest GOOD places to go touring</li>
            </ol>
            <p class="step-p">Ex: “With this increased load and recent avalanche activity we are seeing alongside the incoming snow over the next 12 hours, alongside Avalanche Canada’s recommendations, we suggest avoiding Avalanche terrain at this time, in particular steeper N-E aspects. Stick to low angle terrain away from the exposed alpine or consider staying at home and allowing this new snow time to settle into the snowpack.”</p>
        </div>
        <div class="step-block">
            <h4>9. Outro</h4>
            <p class="step-p">Ex: “Stay safe and have fun out in our backcountry!” </p>
        </div>
    </div>
</section>
<%- include('../partials/footer') %> 