<%- include('partials/header') %> 
    <section id="contact-hero-contact">
        <div id="contact-hero-background-contact">
<%- include('partials/navbar') %> 
    <div class="contact">
      <div class="page-cta">
        <h2>Get In Touch!</h2>
      </div>
        <div class="contact-page-container">
            <form  id='contact-form' action="/contact" method='POST' enctype="x-www-form-urlencoded">
                <div class="contact-form-container">
                    <div class="top-row">
                        <input type="text" name='firstName' class="form-control" placeholder="First Name" aria-label="First name" required>
                        <input type="text" name='lastName' class="form-control" placeholder="Last Name" aria-label="Last name" required>
                    </div>
                    <div class="mid-row">
                        <input type="email" name='email' class="form-control" placeholder="Email Address" aria-label="Email Address" required>
                    </div>
                    <div id="contact-msg" class="input-group">
                        <input type="text" name='content' class='form-control' placeholder="Your message here..." required>
                    </div>
                    <div class="contactBtn"> 
                        <button id="submitBtn" type="submit" value='submit' class="btn btn-secondary btn-lg">Submit</button>
                    </div>
                </div>
            </form>
           
        </div>
    </div>
    </section>
      <%- include('partials/footer')%>