<%- include('partials/header') %> 
<!-- section id for uniuqe background -->
  <section id="hero">
    <div id="hero-background">

<%- include('partials/navbar') %> 
      <div class="hero-header">
        <div class="hero-statement">
          <h1>Community Conversations Saving Lives In The Backcountry</h1>
          <div id="hero-social-links">
            <a href="https://www.instagram.com/stateofthesnowpack/?hl=en"><img class="hero-social-icons" src="/images/dashicons-instagram.png" alt=""></a>
            <a href="https://www.facebook.com/StateOfTheSnowpack"><img class="hero-social-icons" src="/images/dashicons-facebook.png" alt=""></a>
            <a href="https://www.youtube.com/channel/UCt8QT6RARHCjFCZZ-SNkz5Q"><img id="youtube-icon" class="hero-social-icons" src="/images/dashicons-youtube.png" alt=""></a>
            <a href="https://www.linkedin.com/company/state-of-the-snowpack"><img class="hero-social-icons" src="/images/dashicons-linkedin.png" alt=""></a>
          </div>
          <a id="av-canada" href="https://www.avalanche.ca/map">See Your Region's Live Avalanche Canada Forecast.<img src="/images/link-icon.png"></a>
        </div>
      </div>
    </div>
</section>
<%- include('./partials/flash') %> 
<section id="mission-statement">
    <h3 class="mission-statement-header">Our Mission</h3>
    <div class="mission-statement-container">
      <div class="mission-statement-card">
        <img src="/images/mission-one.png" alt="">
        <p>Decrease backcountry avalanche incidents, casualties, and rescues through the sharing of detailed community-specific snowpack analysis.</p>
      </div>
      <div id="middle-card" class="mission-statement-card">
        <img src="/images/mission-two.png" alt="">
        <p>Bridge the gap between Avalanche Canada’s Regional Avalanche Forecast and local knowledge shared in the InfoEx by guides and avalanche professions, providing as-local-as-it-gets snowpack analysis, in as clear & simple terms as possible.</p>
      </div>
      <div id="third-card" class="mission-statement-card">
        <img src="/images/mission-three.png" alt="">
        <p>Share information gathered from our local guiding and forecasting communities, allowing locals to make the most informed decisions in the backcountry, so we all make it home every night!</p>
      </div>

    </div>
</section>
<section id="ig-section">
  <div id="ig-container" class="mission-statement-header ig-header">
    <h3>Check out our latest video</h3>
    <iframe id="ig-video" src="/images/ig-placeholder-video.mp4"></iframe>
    <a id="ig-btn" href="https://www.instagram.com/stateofthesnowpack/?hl=en">View more on Instagram</a>
  </div>
</section>
<section id="donation">
  <div id="donation-background">
    <div class="donation-card">
      <h4>Help us expand to the mountain communities of the Canadian West. </h4>
      <button>Make a donation</button>
    </div>
  </div>
</section>
<section class="testimonial">
  <div class="testimonial-card my-lg-5">
    <p id="testimonial-quote">"The State of the Snowpack provides an easy to digest, fun and interactive way for everyone from your freshly suited up rider to your veteran guide to come together and gain more awareness of what’s happening in the local area. I truly believe this event will save lives and build a stronger backcountry community for us in Nelson. This is not only a good idea for the community, it’s crucial!"</p>
    <p class="quote-credit mb-lg-5">— Jason Gretzinger, Soulines Director, Nelson Local</p>
  </div>
</section>
<%- include('partials/footer') %> 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>