
<%- include('partials/header') %>
  <section id="team-hero">
    <div id="team-hero-background">
<%- include('partials/navbar') %> 
  <div class="team-hero-headers">
      <h3>Your Backountry.</h3>
      <h3>Your Snowpack.</h3>
      <h3>Your Team.</h3>
  </div>
</div>
</section>
<section class="team">
  <p id="about-banner">Each winter our snowpack tells a story, a narrative that plays out over time. Every time the wind blows, every time the snow flies, every time the weather brings something new, that’s a different chapter within the story of our winter. This is the story of our snowpack. And we’re bringing it to you!</p>
    <div class="team-container">
        <div class="team-card" style="width: 18rem;">
            <img src="/images/morgan+dinsdale.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4>Morgan Dinsdale</h4>
              <p class="card-text">When she’s not guiding at Selkirk Snowcats, Morgan is busy bringing together the State of the Snowpack. As Producer/Director of the event she’s the one involved in pretty much everything.  </p>
            </div>
        </div>
        <div class="team-card" style="width: 18rem;">
            <img src="/images/judson.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4>Judson Wright</h4>
              <p class="card-text">ACMG Ski Guide, Canadian Avalanche Association Professional, Avalanche Educator, and Owner/Lead Guide for <a href="https://kootenaybackcountryguides.com/">Kootenay Backcountry Guides</a>, Judson has a hand in all things snow! Our local avalanche education connection, Judson is a key presenter for the State of the Snowpack, kicking off our first two events!</p>
            </div>
      
        </div>
    </div>
</section>

<%- include('partials/footer') %>