<%- include('partials/header') %>
  <section id="team-hero">
    <div id="team-hero-background">
      <%- include('partials/navbar') %>
        <div class="team-hero-headers">
          <h3>Your Backountry.</h3>
          <h3>Your Snowpack.</h3>
          <h3>Your Team.</h3>
        </div>
    </div>
  </section>
  <section class="team">
    <p id="about-banner">Each winter our snowpack tells a story, a narrative that plays out over time. Every time the
      wind blows, every time the snow flies, every time the weather brings something new, that’s a different chapter
      within the story of our winter. This is the story of our snowpack. And we’re bringing it to you!</p>
    <div class="team-heading">
      <h1>Meet the team and our local partners</h1>
      <h4>Board of Directors </h4>
    </div>
    <div class="team-container owl-carousel">
      <div class="team-card">
        <img src="/images/morgan+dinsdale.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4>Morgan Dinsdale</h4>
          <p class="card-text">When she’s not guiding at Selkirk Snowcats, Morgan is busy bringing together the State of
            the Snowpack. As Producer/Director of the event she’s the one involved in pretty much everything. </p>
        </div>
      </div>
      <div class="team-card">
        <img src="/images/judson.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4>Judson Wright</h4>
          <p class="card-text">ACMG Ski Guide, Canadian Avalanche Association Professional, Avalanche Educator, and
            Owner/Lead Guide for <a href="https://kootenaybackcountryguides.com/">Kootenay Backcountry Guides</a>,
            Judson has a hand in all things snow! Our local avalanche education connection, Judson is a key presenter
            for the State of the Snowpack, kicking off our first two events!</p>
        </div>
      </div>
      <div class="team-card">
        <img src="/images/jasonWishlow.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h4>Jason Wishlow</h4>
          <h6>Lead Avalanche Forecaster, at Whitewater Ski Restort and Nelson Team Member</h6>
          <p class="card-text">
            Born in Nelson and raised in the Slocan Valley, Wishy started skiing at
            Morning Mountain at 6 years old and fell in love with it then! He graduated
            with a Bachelors of Kinesiology (major Outdoor Pursuits) in ‘97 from U</p>
        </div>
      </div>
      <div class="team-card">
        <img src="/images/ScottDinsdale.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h4>Scott Dinsdale</h4>
          <p class="card-text">
            Scott Dinsdale has been a global leader in digital and media & entertainment
            for over 30 years. From the c-suite he guided Merrill Lynch, Bertelsmann, the
            Hollywood studios via the MPAA, and Sony Music into the digital age. He co-
            founded iconic start-ups Computer Innovations, Data Broadcasting and Firstlook.com and built Accenture’s
            Asia Pacific Media & Entertai</p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="team-heading">
      <h4>Nelson, BC </h4>
      <div class="d-lg-flex">
        <div class="mx-4 my-2"><img src="/images/KBGLogo.jpg" alt=""></div>
        <div class="mx-4 my-2"><img src="/images/RoyalLogo.jpg" alt=""></div>
        <div class="mx-4 my-2"><img src="/images/red-mountain.png" alt=""></div>
      </div>
    </div>
    <div class="team-container owl-carousel">
      <div class="team-card">
        <img src="/images/CathPaone.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4>Cath Paone</h4>
          <p class="card-text">Cath's love for the mountains started the day she was born. She was raised on the slopes
            of Whistler Blackcomb, instructed at Grouse Mountain for six years, and fell in love with the Fernie
            champagne powder. Her love for skiing took her to Austria where she studied Alpine Tourism and to Japan
            where she lived out her</p>
        </div>
      </div>
      <div class="team-card">
        <img src="/images/tom-2-scaled.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4>Tom Weager</h4>
          <p class="card-text">I’m a landscape, sports and commercial photographer based in Nelson BC. My love of
            photography is driven by the power and emotion that it can convey in all walks of life, not just in the
            snow. I’m happiest behind the camera, and though you won’t be able to see it there will be a smile on my
            face. Though</p>
        </div>
      </div>
      <div class="team-card">
        <img src="/images/Screen+Shot+2021-03-09+at+11.21.09+AM.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h4>Ryan Flett</h4>
          <h6>Content Strategist for State of the Snowpack</h6>
          <p class="card-text">Adventure photographer, filmmaker, and coach, Ryan is an explorer and environmentalist at
            heart, driven to share his experiences through imagery and stories that inspire people to care. Ryan is the
            man behind the camera at every State of the </p>
        </div>
      </div>
      <div class="team-card">
        <img src="/images/ShaneHainsworth.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4>Shane Hainsworth</h4>
          <h6>Lead Avalanche Forecaster, at Whitewater Ski Restort and Nelson Team Member</h6>
          <p class="card-text">
            Shane, the founder of Strawman Productions, is a producer, director, and live stream professional. His live
            streaming career started back in 2006 with multi-camera productions for theatre that took live video to a
            projector screen. He continued to produce and develop live stream events for organiz
          </p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="team-heading">
      <h4>Rossland : Team and Local Partners</h4>
      <div class="d-lg-flex">
        <div class="mx-4 my-2"><img src="/images/BigRedCats.png" alt=""></div>
        <div class="mx-4 my-2"><img src="/images/WhitewaterResort.png" alt=""></div>
      </div>
    </div>
    <div class="d-lg-flex mx-5 ">
      <div class="team-card m-3">
        <img src="/images/ArielePieters.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h4>Ariele Pieters</h4>
          <h6>Rossland Ambassador and Local Organizer</h6>
          <p class="card-text">Arièle is usually found cracking jokes on the uptrack in the winter or trying not to
            soil her pants on alpine rock in the summer. For her, it's all about keeping it fun
            and safe in the backcountry. Currently Ariele works as a tail guide for Big Red
            Cats and as a ski patroller for</p>
        </div>
      </div>
      <div class="team-card m-3">
        <img src="/images/KeithRobine.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h4>Keith Robine</h4>
          <p class="card-text">Owner and operator of Kootenay Avalanche Courses, Keith Robine has been an avalanche
            educator for 30+ years in Colorado and British Columbia. He ski guides for Big Red Cats and other mechanized
            operations as well. He is the co- author of the Avalanche Skills Training Handbook, the test for AST courses
            and also authored the AST2 </p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="d-flex justify-content-end m-5">
      <a href="/contact">
        <button class="cta-btn">Get in Contact with us</button>
      </a>
    </div>
  </section>
  <%- include('partials/footer') %>